p {
    font-size: 17px;
    color: #01053f;
}

header a {
    text-decoration: none;
    color: white;
}

#nav-header {
    background-color: #415cac;
    padding: 10px 0;
}

#nav-right {
    text-align: end;
    margin-right: 20px;
}

#nav-left {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 20px;
}

.link-left {
    border: 1px solid black;
    padding: 10px 5px;
}

#forum {
    border: 1px solid #a6c5df;
    padding: 10px 20px;
    background-color: #a6c5df;
}

#home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    padding: 10px;
    background-color: #5e8ece;
}

#home-text {
    width: 500px;
    border: 1px solid;
    padding: 15px;
}

.topic-author {
    border: 2px solid #6da1ef;
    border-radius: 5px;
    margin: 20px 15px;
    padding: 15px 25px;
    background-color: #6da1ef;
}

.topic-posts {
    border: 1px solid #1764a5;
    border-radius: 10px;
    padding: 15px 20px;
    width: 800px;
    margin-bottom: 20px;
}

.postsArea {
    border: 2px solid #4e5e7e;
    padding: 10px;
    width: 500px;
    margin-top: 60px;
}


#postsForm {
    display: flex;
    flex-direction: column;
}

input#submitPost {
    width: 150px;
    margin: 10px 0;

}

.home-btn {
    padding: 15px;
    border: 1px solid #415cac;
    background-color: #415cac;
    margin-top: 20px;
}

.home-btn a {
    text-decoration: none;
    color: white;
}

.section_register {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_createTopic {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.createTopic_wrapper {
    line-height: 33px;
}

label.username {
    position: relative;
    left: 148px;
}

input#username { 
    position: relative;
    left: 151px;
}

div.email {
    line-height: 34px;
}

label.email {
    position: relative;
    left: 122px;
}

input#email {
    position: relative;
    left: 125px;
}

label.emailConfirm {
    position: relative;
    left: 63px;
}

input#confEmail {
    position: relative;
    left: 66px;
}

div.password {
    line-height: 34px;
    margin-bottom: 30px;
}

#access {
    text-align: center;
}

#access a {
    text-decoration: none;
    padding: 15px;
    border: 1px solid #415cac;
    background-color: #415cac;
    color: white
}

footer {
    background-color: #415cac;
}

footer a, small {
    color: white;
    text-decoration: none;
}

small {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 10px;
}

#nav-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    line-height: 22px;
}
